In [13]:
import pandas as pd
from sqlalchemy import create_engine

In [14]:
Consumption_file = "Alcohol_Consumption.csv"
Consumption_df = pd.read_csv(Consumption_file)
Consumption_df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2018,AK,Alaska,Alcohol Consumption,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,"American Indian or Alaskan Native, non-Hispanic",Race/Ethnicity,29,...,NaN,BRFSS,CLASS01,TOPIC30,2,RACE03,CAT4,_RFDRHV6,RESP206,"(64.84507995700051, -147.72205903599973)"
1,2018,AK,Alaska,Alcohol Consumption,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,35-44,Age Group,219,...,NaN,BRFSS,CLASS01,TOPIC03,2,AGE03,CAT3,DRNKANY5,RESP046,"(64.84507995700051, -147.72205903599973)"
2,2018,AK,Alaska,Alcohol Consumption,Binge Drinking,Binge drinkers (males having five or more drin...,Yes,18-24,Age Group,35,...,NaN,BRFSS,CLASS01,TOPIC07,2,AGE01,CAT3,_RFBING5,RESP046,"(64.84507995700051, -147.72205903599973)"
3,2018,AK,Alaska,Alcohol Consumption,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,Some post-H.S.,Education Attained,49,...,NaN,BRFSS,CLASS01,TOPIC30,2,EDUCA3,CAT5,_RFDRHV6,RESP206,"(64.84507995700051, -147.72205903599973)"
4,2018,AK,Alaska,Alcohol Consumption,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,"$15,000-$24,999",Household Income,15,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS01,TOPIC30,2,INCOME2,CAT6,_RFDRHV6,RESP206,"(64.84507995700051, -147.72205903599973)"

In [15]:
# Create a filtered dataframe from specific columns
Consumption_cols = ["Year", "Locationabbr", "Topic", "Question", "Response", "QuestionID", "ResponseID"]
Consumption_transformed= Consumption_df[Consumption_cols].copy()

# Rename the column headers
Consumption_transformed = Consumption_transformed.rename(columns={"Year": "year",
                                                          "Locationabbr": "state",
                                                          "Topic": "question_topic",
                                                          "Question": "question",
                                                          "Response": "response",
                                                          "QuestionID": "question_id",
                                                          "ResponseID": "response_id"})
# Clean the data by setting the index as the state
Consumption_transformed.set_index("state", inplace=True)
Consumption_transformed.head()

,year,question_topic,question,response,question_id,response_id
state,,,,,,
AK,2018,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,_RFDRHV6,RESP206
AK,2018,Alcohol Consumption,Adults who have had at least one drink of alco...,Yes,DRNKANY5,RESP046
AK,2018,Binge Drinking,Binge drinkers (males having five or more drin...,Yes,_RFBING5,RESP046
AK,2018,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,_RFDRHV6,RESP206
AK,2018,Heavy Drinking,Heavy drinkers (adult men having more than 14 ...,Meet criteria for heavy drinking,_RFDRHV6,RESP206

In [16]:
Excessive_Consumption_file = "Alcohol_ExcessiveUse.csv"
Excessive_Consumption_df = pd.read_csv(Excessive_Consumption_file)
Excessive_Consumption_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Consumption_Pattern,ConditionType,Condition,Sex,AgeGroup,...,Indirect_AAF_Medium,Indirect_AAF_Medium_Alt,Indirect_AAF_High,Indirect_AAF_High_Alt,LocationID,ClassID,ConditionID,ConsumptionID,Stratification1ID,Stratification2ID
0,2006,2010,VA,Virginia,ARDI,Excessive Use,Acute,Motor-vehicle traffic crashes,Male,0-14,...,NaN,NaN,NaN,NaN,52,ACUTE,MTVTRA,EXCUSE,GENM,AGEGRP7
1,2006,2010,CO,Colorado,ARDI,Excessive Use,Chronic,Alcohol abuse,Male,All Ages,...,NaN,NaN,NaN,NaN,8,CHRONIC,ALCABU,EXCUSE,GENM,AGEGRP0
2,2006,2010,AR,Arkansas,ARDI,Excessive Use,Chronic,Alcoholic psychosis,Female,All Ages,...,NaN,NaN,NaN,NaN,5,CHRONIC,ALCPSY,EXCUSE,GENF,AGEGRP0
3,2006,2010,TX,Texas,ARDI,Excessive Use,Chronic,Gastroesophageal hemorrhage,Male,All Ages,...,NaN,NaN,NaN,NaN,48,CHRONIC,GASHEM,EXCUSE,GENM,AGEGRP0
4,2006,2010,IL,Illinois,ARDI,Excessive Use,Chronic,Alcoholic gastritis,Female,All Ages,...,NaN,NaN,NaN,NaN,17,CHRONIC,ALCGAS,EXCUSE,GENF,AGEGRP0

In [8]:
# Create a filtered dataframe from specific columns
Excessive_Consumption_cols = ["YearStart", "YearEnd", "LocationAbbr", "Consumption_Pattern", "ConditionType", "ConditionID"]
Excessive_Consumption_transformed= Excessive_Consumption_df[Excessive_Consumption_cols].copy()

# Rename the column headers
Excessive_Consumption_transformed = Excessive_Consumption_transformed.rename(columns={"YearStart": "year_start",
                                                          "YearEnd": "year_end",
                                                          "LocationAbbr": "state",
                                                          "Consumption_Pattern": "consumption_pattern",
                                                          "ConditionType": "condition_type",
                                                          "ConditionID": "condition_id"})
# Clean the data by setting the index as the state
Excessive_Consumption_transformed.set_index("state", inplace=True)
Excessive_Consumption_transformed.head()

       year_start  year_end consumption_pattern condition_type condition_id
state
VA           2006      2010       Excessive Use     Acute            MTVTRA
CO           2006      2010       Excessive Use     Chronic          ALCABU
AR           2006      2010       Excessive Use     Chronic          ALCPSY
TX           2006      2010       Excessive Use     Chronic          GASHEM
IL           2006      2010       Excessive Use     Chronic          ALCGAS

In [10]:
Excessive_Consumption_transformed.to_csv('Excessive_Drinking.csv')
Consumption_transformed.to_csv('Alcohol_Consumption.csv')

In [6]:
import psycopg2
connection_string = "postgres:hello@localhost:5432/CDC_AlcoholConsumption"
engine = create_engine(f'postgresql://{connection_string}')

ModuleNotFoundError: No module named 'psycopg2'